/* notification.css */

/* notifications container */
.notification-view {

}

/* wrapper for notification messages */
.notification-view > div {
    margin: 10px 1%;
}

.notification-view > div + div {
    margin-top: 1%;
}

/* notification message label */
.notification-view > div > span:first-child {
    padding-right: 1%;
}

/* notification message close button */
.notification-view > div > span:last-child {

}

/* notification message close button */
.notification-view > div > button {
    margin-left: 2%;
}

